/* Write your CSS here */
.tab-item {
  list-style-type: none;
}
.tab-button {
  color: #7b8794;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #dfe2eb;
  background-color: transparent;
  width: 100%;
  max-width: 250px;
  outline: none;
  cursor: pointer;
  border: 1px solid #7b8794;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .tab-button {
    font-size: 16px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 8px;
  }
}
.active {
  color: #2563eb;
  border-bottom: 2px solid #2563eb;
  padding-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .active {
    padding-bottom: 12px;
  }
}
